/*
 * This file contains an example of the generated css by the Sprite class
 */
.Sprite-holder {
  width: 20px;
  height: 26px;
  background: url('./Amaura.png');
  background-position: -57px -71px;
  animation:sprite-animate 2s steps(12) infinite;
  margin-top: 20px;
  margin-left: 20px;
}

@keyframes sprite-animate{
 0% {
   background-position: -57px -71px;
 }
 100% {
   background-position: -297px -71px;
 }
}
