/*
 * This file contains an example of the generated css by the Sprite class
 */
.Sprite-holder {
  width: 20px;
  height: 26px;
  background: url('./Amaura.png');
  background-position: -57px -71px;
  animation:sprite-animate 2s steps(12) infinite;
  margin-top: 20px;
  margin-left: 20px;
}

.Sprites-container {
  margin-top: 100px;
  margin-left: 100px;
}

.Sprite {
  margin-top: 10px;
}

.Minigame {
  background-color: #e1e1e1;
  height: 640px;
  width: 480px;
}

@keyframes sprite-animate{
 0% {
   background-position: -57px -71px;
 }
 100% {
   /* The commented line is the correct CSS rule, this is commented in order to test CSSRule replacement */
   /*background-position: -297px -71px;*/
   background-position: -200px -71px;
 }
}
