/*
 * This file contains an example of the generated css by the Sprite class
 */
.Sprite-holder {
  width: 20px;
  height: 26px;
  background: url('./Amaura.png');
  background-position: -57px -71px;
  animation:sprite-animate 2s steps(12) infinite;
  margin-top: 20px;
  margin-left: 20px;
}

.Sprites-container {
  margin-top: 100px;
  margin-left: 100px;
}

.Sprite-example-container {
  width: 160px;
  height: 160px;
}

.Sprite-example {
  width: 40px;
  height: 40px;
  background: url('./Amaura.png');
  background-position: -9px -3px;
  transform-origin: 0px 0px;
  transform: scale(4);
  image-rendering: optimizeSpeed;             /*                     */
  image-rendering: -moz-crisp-edges;          /* Firefox             */
  image-rendering: -o-crisp-edges;            /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: pixelated;                 /* Chrome as of 2019   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

.PixelArt {
  image-rendering: optimizeSpeed;             /*                     */
  image-rendering: -moz-crisp-edges;          /* Firefox             */
  image-rendering: -o-crisp-edges;            /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: pixelated;                 /* Chrome as of 2019   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

.Sprite {
  margin-top: 10px;
}

.Minigame {
  overflow: hidden;
  height: 480px;
  width: 640px;
  background-color: #e1e1e1;
}

@keyframes sprite-animate{
 0% {
   background-position: -57px -71px;
 }
 100% {
   /* The commented line is the correct CSS rule, this is commented in order to test CSSRule replacement */
   /*background-position: -297px -71px;*/
   background-position: -200px -71px;
 }
}
